.HighlightsList {
  position: fixed;
  width: 100%;
  padding: .5rem;
  max-height: 20vh;

  bottom: 0;
  background-color: #fff;

  overflow: auto;
}

.HighlightsList::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    display: block;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1)
}
