.Button {
  padding: .5rem 1rem;
  border-top: 1px solid #eee;
}

.Button {
  margin-left: 5px;
  border: 0px solid;
  background-color: transparent;
  border-radius: 3px;
  padding: 5px;
  opacity: 0.5;
}

.Button:hover,
.Button:active,
.Button:focus {
  opacity: 1;
  cursor: pointer;
  background-color: #eee;
}

.Button.checked {
  opacity: 1;
  background-color: #e3e3e3;
}
