.Editor {
  display: flex;
  flex: 1;
  overflow: auto;
  justify-content: center;
}

.Editor__content {
  font-size: 1.2rem;
  line-height: 1.3;
  text-align: justify;
  max-width: 800px;
  padding: 2rem;

  outline: none;

  background-color: #fff;
  box-shadow: 0 0 0 0.75px #d1d1d1,0 0 3px 0.75px #ccc
}

@media (min-width: 768px) {
  .Editor__content {
    margin: 2rem auto;
    padding: 3rem 2.2rem;
    width: 100%;
  }
}
