.Toolbar {
  padding: .5rem 1rem;
  border-top: 1px solid #eee;
}

.Toolbar__button {
  margin-left: 5px;
  border: 0px solid;
  background-color: transparent;
  border-radius: 3px;
  padding: 5px;
  opacity: 0.5;
}

.Toolbar__button:hover,
.Toolbar__button:active,
.Toolbar__button:focus{
  opacity: 1;
  cursor: pointer;
  background-color: #eee;
}