.HighlightsList {
  display: flex;
  flex-direction: column;
  flex:1;

  max-height: 30vh;
  position: relative;
  padding: .5rem;
  bottom: 0;
  background-color: #fff;
  overflow: auto;
}

.HighlightsList__wrapper{
  overflow: auto;
}

.HighlightsList__wrapper p {
  display: flex;
  align-items: center;
}

.HighlightsList::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    display: block;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1)
}
