:root {

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #eee;
  font-size: 12px;
}

.App{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  body {
    padding-top: 0;
  }
}
